{% extends 'base.html' %}

{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h1 class="h2">Data Kegiatan Kampus Politeknik Aceh</h1>
		    <div class="btn-toolbar mb-2 mb-md-0"></div>
		</div>

		<div class="card">
		    <div class="card-header">
		          Form Kegiatan
		    </div>
		        <div class="card-body">
					<div class="container">
						<div class="row">
							<div class="col-md">
								{% if pesan %}
									<div class="alert alert-success">{{ pesan }}</div>
								{% endif %}
								<form action="/tambah-kegiatan/" method="post" enctype="multipart/form-data"> 
								    {% csrf_token %}
								    {{ form.as_p }}
								    <input type="submit" name="tambah_buku" value="Tambah Buku" class="btn btn-success">
								    <a href="/data-kegiatan" class="btn btn-danger">Kembali</a>
								</form>
							</div>
						</div>
					</div>
				</div>
		    </div>
		 </main>

{% endblock %}